
.porco{
    display: flex;
    position: absolute;
    max-width: 150px;
    top: 0;
}
.porco2{
    display: flex;
    position: absolute;
    max-width: 150px;
    transform: rotate(130deg);
    z-index: -100;
}