.ativo{
    display: none;
}
.cardgreen{
    position: absolute;
    max-width:  550px;
    max-height: 650px;
    min-width: 350px;
    margin-left: 32.5%;
    width: 35%;
    height: 70%;
    border-radius: 10px;
    background-color: var(--color-green);
    box-shadow: 2px 3px 12px #000;
    transform: rotate(3deg);
    z-index: -200;
}
.cardyelow{
    position: absolute;
    max-width:  550px;
    max-height: 650px;
    min-width: 350px;
    margin-left: 32.5%;
    width: 35%;
    height: 70%;
    border-radius: 10px;
    background-color: var(--color-yelow);
    box-shadow: 2px 3px 12px #000;
    transform: rotate(6deg);
    z-index: -400;
}
.card{
    display: block;
    max-width:  550px;
    min-width: 350px;
    max-height: 650px;
    width: 35%;
    height: 70%;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 10px;
    background-color: var(--color-blue);
    box-shadow: 2px 3px 12px #000;
}
.card .perfil{
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
}
.card h2{
    font-family: Badly Stamped;
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
}
.card p{
    font-family: font mile1;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
}

.card .gap{
    padding-right: 15px;
}
.card ul{
    max-width: 205px;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
}

.card ul li img{
    height: 40px;
    width: 40px;
}

.card .turtle{
    cursor: pointer;
}