@font-face {
    src: url(../../font/BadlyStamped.ttf);
    font-family: 'Badly Stamped';    
    font-weight: normal;
} 
@font-face {
    src: url(../../font/1942.ttf);
    font-family: 'font mile1';    
    font-weight: normal;
} 
